html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

h1 {
  width: 21%;
  text-align: center;
  padding: 1em;
  margin: 0;
}

.top-btn {
  width: 25%;
  text-align: center;
}



#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
};
